[project]
	description = StringCalculator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/suis
[access "refs/for/refs/*"]
	read = group user/suis
	push = group user/suis
	label-Code-Review = -2..+2 group user/suis
	label-Verified = -1..+1 group user/suis
	rebase = group user/suis
	removeReviewer = group user/suis
	submit = group user/suis
[access "refs/heads/*"]
	read = group user/suis
	create = group user/suis
	push = +force group user/suis
	pushMerge = group user/suis
[access "refs/tags/*"]
	push = +force group user/suis
	pushTag = group user/suis
	pushSignedTag = group user/suis
